<main>
  <div>
    <h1>Culturio</h1>
    <h4>
      Explore your local cultural objects and experience <br />premium access
      features.
    </h4>
    <h4 style="margin-top: 2em">It has never been easier.</h4>
  </div>

  <div id="api"></div>

  <!-- <form nz-form>
    <h3 style="text-align: center">Log in</h3>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group
          nzPrefixIcon="user"
          nzSize="large"
          class="input-placeholder"
        >
          <input nz-input type="text" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your password!">
        <nz-input-group
          nzPrefixIcon="key"
          nzSize="large"
          class="input-placeholder"
        >
          <input nz-input type="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin">
      Log in
    </button>
    <div
      style="
        padding: 0;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
      "
    >
      <div class="line"></div>
      <h3>or</h3>
      <div class="line"></div>
    </div>
    <button
      style="font-weight: 200; color: #545454; opacity: 75%"
      nz-button
      class="login-form-button login-form-margin"
    >
      <img src="../../../../assets/icons/google.png" alt="" />
      Continue with Google
    </button>
  </form> -->
  <div>
    <img src="../../../../../assets/icons/bank.svg" alt="" />
  </div>
</main>
